*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.blackheader{
    position: absolute;
    background: #000;
    width: 100%;
    height: 135px;
    top: 0;
    z-index: -1;
}

#cv{
    position: relative;
}

.contacts{
    position: absolute;
    display: flex;
    color: #ffffff;
    flex-direction: column;
    right: 0;
    height:135px;
    padding: 30px 50px 0 0;
    line-height: 35px;
}

.text1, .text2{
    padding-left:10px;
    font-family: sans-serif;
}

.text2{
    letter-spacing: 0.08em;
}

.number, .email{
    font-size: 15px;
}

.pphoto{
    background:url(../img/img.jpg);
    width: 180px;
    height: 180px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    background-size: cover;
}

.NameLastname{
    display: flex;
    height: 100%;
    padding: 10px 0 0 50px;
}

.info{
    color:#ffffff;
    font-family: sans-serif;
    line-height: 30px;
    padding: 10px;
}

/* body */

.Container{
    display: grid;
    grid-template-columns:repeat(8, 12.5%);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 35px 15px;
    grid-auto-flow: column;

}

h1{
    font-weight: 900;
    margin-bottom:30px;
}

p,h1{
    font-size: 20px;
}

.line{
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    margin: 10px 0;
}

.line1 {
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    margin: 10px 0;
}

.line2{
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    margin: 10px 0;
}

.projects{
    display: flex;
    max-width: 900px;
    height: 150px;
    margin-left: 150px;
}

.pname{
    width: 100%;
    height: 100%;
    margin: 10px 20px;
}

.obj{
    align-items: flex-end;
    max-width: 100%;
    height: 90%;
    background:#c4c4c4;
}

.objtitle{
    margin-left: 28%;
}

.Container .aboutMe:nth-child(1){
    grid-column:2/5;
}
.Container .Education:nth-child(2){
    grid-column:2/5;
    grid-row: 2;
}
.Container .Languages:nth-child(3){
    grid-column:2/5;
    grid-row: 3;
}
.Container .Experience:nth-child(4){
    grid-column:5/8;
    grid-row: 1;
}
.Container .Skills:nth-child(5){
    grid-column:5/8;
    grid-row: 2;
}
.Container .Portfolio:nth-child(6){
    grid-column:2/8;
    grid-row: 4;
}


@media screen and (max-width: 768px){
    .Container{
        margin-top:50px;
    }

    .pphoto{
        width: 150px;
        height: 150px;
    }
    .NameLastname{
        padding:30px 0 0 50px;
    }
    .NameLastname p{
        font-size:15px;
        line-height:20px;
    }

    .contacts{
        margin-top: 20px;
        font-size: 15px;
    }
    
    .projects{
        margin-left: 20px;
    }
    .objtitle{
        margin-left: 20%;
    }
}